header{
    height: auto;
    background-color: rgb(160, 226, 160);
    margin: 1em;
}

.tittexto{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;

}

.encabezados{
    text-align: center;
    background: rgb(83, 194, 235);
    margin: auto;
}

body{
    background-color: aquamarine;
    height: auto;
}
footer{
    background-color: coral;
    height: 2%;
    margin: auto;
    
    
}

.respuestas{
    background-color: azure;
}

section{
    flex: 70px;
    background-color: rgb(112, 142, 165);
    padding: 20px;
    margin: 1em;
}

aside{
    flex: 30px;
    background-color: rgb(37, 178, 183);
    padding: 20px;
    margin: 1em;

}

#resarreglo{
    float: left;
    height: 70%;
    width: 61%;
}


#botones{
    height: 70%;
    width: 3;
    float: right;

}